body{
    background-image: url("../../assets/pompudding.jpeg");
    font-size: 15px;
    background-size: 10%;
}



/* .inline-block {
    background-image: url(../fridge/assets/stickynote.png);
    background-size: 200%;
    display: inline-block;
} */



ul {
    background-image: url(../fridge/assets/stickynote.png);
    background-size: 250%;
    padding: 8%;
    position:fixed;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(114, 60, 58);
    background-color: rgb(255, 255, 255, 0.7);
    background-size: 100px;
    display: inline-block;
    padding: 20px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(114, 60, 58);
}

a {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    margin-inline-start: 10px;
    border: 8px dotted rgb(255, 120, 196);
    font-size: 20px;
    letter-spacing: 2px;
    color: rgba(114, 60, 58);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 120, 196, 0.4);
  
}
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(114, 60, 58);
    float:left;
}

img{

}