body {
    background-image: url("../../assets/jigglepom.gif");
    font-size: 15px;
    background-size: 10%;
}



/* .inline-block {
    background-image: url(../fridge/assets/stickynote.png);
    background-size: 200%;
    display: inline-block;
} */



ul {
    background-image: url(../fridge/assets/stickynote.png);
    background-size: 10px 30px contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8%;
    position: fixed;
    size: 10%;;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 255, 0, .7);;
    background-size: 100px;
    display: inline-block;
    padding: 20px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(254, 254, 254);
    font-style:italic;
    font-size: 20px;
}

a {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    margin-inline-start: 10px;
    border: 3px dashed rgb(200, 255, 0);
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.4)
  
}


  

ul {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(254, 253, 253);
    float:left;
}

.door {
    width: 500px;
    height: 700px;
    padding: 1px;
}